*{
    margin: 0;
    overflow-x: hidden;
    overflow-y: visible;
}
main{
    background-color: #F9FAF9;
}
header{
    height: 10vh;
    background-color: #8cbef0;
    color: black;
}
.hero{
    background-color: #008854;
    width: 100%;
    height: 30vh;
}
.gameMenu{
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: 40vw 40vw;
    gap: 20vw;
    align-items: center;
    position: relative; 
}
.newGame{
    display: flex;
    justify-content: right;
}
.newGame button{
   width: 35vw;
    height: 10vh;
    font-size: 20px;
    border-radius: 10px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
     
    
}
.loadGame{
    display: flex;
    justify-content: left;
}
.loadGame button{
    width: 35vw;
    height: 10vh;
    font-size: 20px;
    border-radius: 10px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;

}
#rules img {
    width: 48px;
    height: 48px;
    filter: drop-shadow(0 1px 2px rgba(0,0,0,0.15));
    transition: transform 0.2s;
}
#rules {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    background-color: #ECEFF1; /* Modern violet */
    border-radius: 50%;
    padding: 16px;
    cursor: pointer;
}
.nameForm input{
    width: 100%;
    height: 10vh;
    padding-left: 5vw;
    font-size: 30px;
}
.gameBtn{
    width: 45%;
    height: 10vh;
    font-size: 25px;
    margin: 2.5%;
}